/* Document
   ========================================================================== */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 4. Set Antialising
 * 5. Set Box-sizing to border-box by default
 */

html
{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-size: 15px; /* 1 */
  word-spacing: 1px; /* 1 */
  line-height: 20px; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  -moz-osx-font-smoothing: grayscale; /* 4 */
  -webkit-font-smoothing: antialiased; /* 4 */
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}

*, *:before, *:after
{
  box-sizing: inherit;
}
