/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body
{
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article, aside, footer, header, nav, section
{
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1, h2, h3, h4, h5, h6
{
  font-weight: 300;
  margin: 30px 0;
}

h4, h5, h6
{
  font-weight: 400;
  margin: 20px 0;
}

h1
{
  font-size: 46px;
}

h2
{
  font-size: 34px;
}

h3
{
  font-size: 28px;
}

h4
{
  font-size: 24px;
}

h5
{
  font-size: 20px;
}

h6
{
  font-size: 16px;
}
