/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a
{
  text-decoration: none;
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  color: #41b883;
  &:hover
  {
    text-decoration: underline;
  }
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active, a:hover
{
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title]
{
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b, strong
{
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b, strong
{
  font-weight: 600;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code, kbd, samp
{
  font-family: "Andale Mono", monospace, monospace; /* 1 */
  font-size: 14px; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn
{
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark
{
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small
{
  font-size: 13px;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub, sup
{
  font-size: 12px;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub
{
  bottom: -0.25em;
}

sup
{
  top: -0.5em;
}
