# Read More about CODEOWNERS file: https://git.io/JT4TZ
# Order is important! the last matching pattern takes the most precedence

# Global owners will be requested for review when someone opens a pull request
# These owners will be the default owners for everything in
# the repo (unless a later match takes precedence)
*                   @alexchopin

# Cypress & Content
/content/**         @debs-obrien
/cypress/**         @debs-obrien

# Main content
/content/en/**      @nuxt/framework

# Translations
/content/ja/**      @inouetakuya @53able
/content/id/**      @febrihidayan

