{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "extends": ["@nuxtjs", "eslint-config-prettier"],
  "rules": {
    "no-console": "error",
    "vue/no-v-html": 0,
    "vue/max-attributes-per-line": 0,
    "vue/html-closing-bracket-spacing": 0,
    "vue/html-self-closing": 0,
    "vue/multiline-html-element-content-newline": [
      "error",
      {
        "ignoreWhenEmpty": true,
        "ignores": ["pre", "textarea", "design.vue"],
        "allowEmptyLines": false
      }
    ],
    "vue/html-indent": 0
  },
  "env": { "browser": true }
}
