@import './light/links.css';
@import './light/headings.css';
@import './light/texts.css';
@import './light/lists.css';
@import './light/promote.css';
@import './light/highlight.css';
@import './light/algolia.css';

body {
  @apply font-sans font-medium text-nuxt-gray;
  & .header {
    @apply bg-white;
    & .header_logo {
      transition: color 1s;
    }
    & .header_nav {
      @apply bg-nuxt-gray;
      transform: translateX(-100%);
      transition-property: transform;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
      transition-delay: .5s;
      & .header_nav_link {
        @apply text-white;
        height: auto;
        transform: translateX(-100%);
        transition-property: transform, height;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        &:nth-child(1) { transition-delay: 0.2s; }
        &:nth-child(2) { transition-delay: 0.3s; }
        &:nth-child(3) { transition-delay: 0.4s; }
        &:nth-child(4) { transition-delay: 0.5s; }
        &:hover { @apply text-nuxt-lightgreen; }
      }
      & .nuxt-link-active {
        @apply text-nuxt-lightgreen;
      }
    }
    & .header_nav--open {
      transform: translateX(0px);
      transition-delay: 0s;
      & .header_nav_link {
        transform: translateX(0px);
      }
      & .header_subnav {
        height: 0px;
        padding: 0;
        overflow: hidden;
        transform: translateX(-100%);
        transition: all 1s ease-in-out .5s;
      }
      & .header_subnav--open {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 1rem;
        transform: translateX(0px);
        transition: all 1s ease-in-out .5s;
      }
      & .header_nav_link--close {
        transform: translateX(-100%);
        height: 0px;
      }
    }
    @media (min-width: 1024px) {
      & .header_nav {
        @apply bg-white;
        transform: none;
        & .header_nav_link {
          @apply text-nuxt-gray;
          transform: none;
        }
      }
      & .header_nav--open {
        transform: none;
        & .header_nav_link {
          transform: none;
        }
      }
    }
  }
  & .nui-select {
    @apply text-nuxt-gray bg-gray-200;
  }
  & .footer {
    @apply bg-white;
  }
  & .nuxt-link-exact-active {
    @apply text-nuxt-lightgreen;
  }
  & .opacity-transition {
    transition: opacity 0.5s ease-out;
  }
}
