.close.icon
{
  color: #000;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  &:before, &:after
  {
    top: 10px;
    width: 21px;
    height: 1px;
    background-color: currentColor;
  }
  &:before
  {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  &:after
  {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
