.folder.icon
{
  margin-left: 2px;
  margin-top: 6px;
  width: 15px;
  height: 10px;
  border-left: solid 1px #333333;
  border-right: solid 1px #333333;
  border-bottom: solid 1px #333333;
  border-radius: 0 1px 1px 1px;
  &:before
  {
    left: -1px;
    top: -3px;
    width: 6px;
    height: 2px;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
    border-top: solid 1px #333333;
    border-radius: 2px 3px 0 0;
  }
  &:after
  {
    top: -1px;
    right: -1px;
    width: 9px;
    height: 1px;
    border-right: solid 1px #333333;
    border-top: solid 1px #333333;
    border-radius: 0 2px 0 0;
  }
}
