.menu.icon
{
  color: #000;
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 1px;
  background-color: currentColor;
  &:before, &:after
  {
    width: 17px;
    height: 1px;
    left: 0;
    background-color: currentColor;
  }
  &:before
  {
    top: -5px;
  }
  &:after
  {
    top: 5px;
  }
}
