.more-vertical.icon
{
  color: #000;
  margin-left: 9px;
  margin-top: 9px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: solid 1px currentColor;
  &:before, &:after
  {
    left: -1px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
  &:before
  {
    top: -7px;
  }
  &:after
  {
    top: 5px;
  }
}
