.remove.icon
{
  color: #000;
  margin-left: 3px;
  margin-top: 10px;
  &:before, &:after
  {
    width: 15px;
    height: 1px;
    background-color: currentColor;
  }
  &:before
  {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  &:after
  {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
