.smile.icon
{
  color: #000;
  margin-left: 2px;
  margin-top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
  &:before
  {
    left: 4px;
    top: 4px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    color: #fff;
    background-color: currentColor;
  }
  &:after
  {
    right: 4px;
    top: 4px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    color: #fff;
    background-color: currentColor;
  }
  i
  {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    color: white;
    border-top: solid 1px transparent;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }
}
