.icon, .icon i
{
  box-sizing: content-box;
  position: absolute;
  &:before, &:after
  {
    box-sizing: content-box;
    content: '';
    position: absolute;
  }
}
.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after
{
  transition: all 0.4s ease;
}

.Icon
{
  height: 21px;
  width: 21px;
  position: relative;
  display: inline-block;
}

@import "menu";
@import "close";
@import "search";
@import "remove";
@import "icons/edit";
@import "icons/download";
@import "icons/eye";
@import "icons/folder";
@import "icons/file";
@import "flags";
@import "more_vertical";
