/* ---- Box-shadow ---- */
$--box-shadow-1: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 1px 1px 0 rgba(10, 31, 68, 0.08);
$--box-shadow-2: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 3px 4px 0 rgba(10, 31, 68, 0.1);
$--box-shadow-3: 0 0 1px 0 rgba(10, 31, 68, 0.08), 0 8px 10px 0 rgba(10, 31, 68, 0.1);
$--box-shadow-4: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 18px 18px 0 rgba(10, 31, 68, 0.12);
$--box-shadow-5: 0 0 1px 0 rgba(10, 31, 68, 0.1), 0 26px 26px 0 rgba(10, 31, 68, 0.12);
