/* ---- Breakpoints ----*/
$--xs:     576px !default;
$--sm:     768px !default;
$--md:     992px !default;
$--lg:     1200px !default;
$--xl:     1920px !default;

$--z-index-deepest: 999 !default;
$--z-index-deeper: 997 !default;
$--z-index-deep: 995 !default;
