/* ---- Colors  ---- */
$--color-white:         #FCFCFD !default;
$--color-grey:          #C9CED6 !default;
$--color-black:         #0A1F44 !default;
$--color-blue:          #0C66FF !default;
$--color-green:         #0BB07B !default;
$--color-orange:        #FFBB38 !default;
$--color-red:           #F03D3D !default;

$--color-grey-1:        #FCFCFD !default;
$--color-grey-2:        #F8F9FB !default;
$--color-grey-3:        #F1F2F4 !default;
$--color-grey-4:        #E1E4E8 !default;
$--color-grey-5:        #C9CED6 !default;
$--color-grey-6:        #B5BBC6 !default;
$--color-grey-7:        #A6AEBC !default;
$--color-grey-8:        #98A1B1 !default;
$--color-grey-9:        #8A94A6 !default;

$--color-black-1:       #758196 !default;
$--color-black-2:       #6C798F !default;
$--color-black-3:       #5D6C84 !default;
$--color-black-4:       #53627C !default;
$--color-black-5:       #445571 !default;
$--color-black-6:       #364866 !default;
$--color-black-7:       #273A5B !default;
$--color-black-8:       #182C4F !default;
$--color-black-9:       #0A1F44 !default;

$--color-blue-9:        #0A44A5 !default;
$--color-blue-8:        #0D55CF !default;
$--color-blue-7:        #0C66FF !default;
$--color-blue-6:        #007FFF !default;
$--color-blue-5:        #5AACFF !default;
$--color-blue-4:        #99CCFF !default;
$--color-blue-3:        #CCE6FF !default;
$--color-blue-2:        #EBF5FF !default;
$--color-blue-1:        #F5FAFF !default;

$--color-green-9:       #006242 !default;
$--color-green-8:       #00865A !default;
$--color-green-7:       #0BB07B !default;
$--color-green-6:       #22C993 !default;
$--color-green-5:       #3ED3A3 !default;
$--color-green-4:       #6DDFBA !default;
$--color-green-3:       #92ECCF !default;
$--color-green-2:       #CFF8EB !default;
$--color-green-1:       #EAFCF7 !default;

$--color-orange-9:      #F07300 !default;
$--color-orange-8:      #FF8F00 !default;
$--color-orange-7:      #FFAD0D !default;
$--color-orange-6:      #FFBB38 !default;
$--color-orange-5:      #FFCA65 !default;
$--color-orange-4:      #FFDC99 !default;
$--color-orange-3:      #FFECC7 !default;
$--color-orange-2:      #FFF6E4 !default;
$--color-orange-1:      #FFFCF5 !default;

$--color-red-9:         #A50000 !default;
$--color-red-8:         #BD0303 !default;
$--color-red-7:         #DD2727 !default;
$--color-red-6:         #F03D3D !default;
$--color-red-5:         #FF5D5D !default;
$--color-red-4:         #FF8D8D !default;
$--color-red-3:         #FFC2C2 !default;
$--color-red-2:         #FFEAEA !default;
$--color-red-1:         #FFF8F8 !default;

$--color-facebook:      #3b5999 !default;
$--color-twitter:       #1da1f2 !default;
$--color-google-plus:   #dd4b39 !default;
$--color-instagram:     #e4405f !default;
$--color-pinterest:     #bd081c !default;
$--color-youtube:       #cd201f !default;
$--color-slack:         #3aaf85 !default;
$--color-dribbble:      #ea4c89 !default;
$--color-github:        #222222 !default;
