$white:    #fff !default;

$gray-100: #FCFCFD !default;
$gray-200: #F8F9FB !default;
$gray-300: #F1F2F4 !default;
$gray-400: #E1E4E8 !default;
$gray-500: #C9CED6 !default;
$gray-600: #B5BBC6 !default;
$gray-700: #A6AEBC !default;
$gray-800: #98A1B1 !default;
$gray-900: #8A94A6 !default;

$black-100: #758196 !default;
$black-200: #6C798F !default;
$black-300: #5D6C84 !default;
$black-400: #53627C !default;
$black-500: #445571 !default;
$black-600: #364866 !default;
$black-700: #273A5B !default;
$black-800: #182C4F !default;
$black-900: #0A1F44 !default;

$green-vue: #42b883;
$green-nuxt: #3C8171;
$blue-vue: #39495C;
