/* ---- Variables used in reboot file ---- */
$color-vue-green:           #42b883;
$color-nuxt-green:          #3C8171;
$color-vue-grey:            #35495e;

$color-info:                  $--color-blue;
$color-success:               $--color-green;
$color-warning:               $--color-orange;
$color-danger:                $--color-red;

$color-text-info:             $--color-blue-8;
$color-text-success:          $--color-green-8;
$color-text-warning:          $--color-orange-9;
$color-text-error:            $--color-red-7;
$color-text-primary:          $--color-black-9; // (Usage: Main Headings, Body Text)
$color-text-regular:          $--color-black-4; // (Usage: Body Text, Description Text)
$color-text-secondary:        $--color-grey-9;  // (Usage: Secondary Text, Input Labels)
$color-text-placeholder:      $--color-grey-7;  // (Usage: Disabled Text, Placeholder Text)

$background-color-lighter:    $--color-grey-1;  // (Usage: Solid backgrounds)
$background-color-light:      $--color-grey-2;  // (Usage: List hover and Solid backgrounds)
$background-color-medium:     $--color-grey-3;  // (Usage: Stroke/HR, Separators and disabled icons)
$background-color-dark:       $--color-grey-4;  // (Usage: Outline for text field and disabled background)

$box-shadow-base:             $--box-shadow-1;
