html
{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.25px;
}
*, *::before, *::after
{
  box-sizing: border-box;
}

hr
{
  height: 1px;
  background-color: #dbdfe1;
  border: none;
  margin: 50px 0;
}

ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea
{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  &:focus
  {
    outline: 0;
    border-color: #00BCD4;
  }
}
select:focus
{
  outline: 0;
}

a
{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.button
{
  display: inline-block;
  color: #2e2f30 !important;
  border: 2px solid #505153;
  height: 46px;
  min-width: 200px;
  line-height: 42px;
  padding: 0 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  span
  {
    width: 30px;
    height: 16px;
    display: inline-block;
    .icon, .icon:before, .icon:after
    {
      color: #2e2f30;
    }
  }
  &:hover
  {
    transition: all 0.25s linear;
    border-color: #00BCD4;
    background-color: #00BCD4;
    color: #fff !important;
    text-decoration: none !important;
    span .icon, span .icon:before, span .icon:after
    {
      color: #fff;
    }
  }
}
.link
{
  color: #00BCD4;
  &:hover
  {
    text-decoration: underline;
  }
}
