.Content
{
  h1, h2, h3, h4, h5, h6
  {
    color: #000;
    margin: 30px 0;
    font-weight: 300;
  }
  h1
  {
    font-size: 3em;
    margin-top: 0;
  }
  h2
  {
    font-size: 2.4em;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdfe1;
  }
  h3
  {
    font-size: 2em;
  }
  h4
  {
    font-size: 1.8em;
  }
  h5
  {
    font-size: 1.6em;
  }
  h6
  {
    font-size: 1.4em;
  }
  a
  {
    color: #00BCD4;
    &:hover
    {
      text-decoration: underline;
    }
  }
  p
  {
    text-align: justify;
    font-weight: 400;
    color: #2e2f30;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.2px;
    margin: 15px 0;
  }
  code
  {
    color: #2e2f30;
    padding: 2px 7px;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6em;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, monospace;
    word-spacing: 5px;
    letter-spacing: 1px;
    background-color: #eee;
  }
  pre
  {
    margin: 20px 0;
    code
    {
      color: #eee;
      padding: 12px 20px;
      background-color: #2e2f30;
      border-left: 3px solid #00BCD4;
    }
  }
  ul
  {
    list-style: circle;
    margin-bottom: 20px;
    padding-left: 30px;
    li
    {
      color: #505153;
      font-size: 1em;
      line-height: 1.25em;
      padding: 5px 0;
    }
    ul {
      margin-bottom: 0;
    }
  }
  #table-of-contents
  {
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    letter-spacing: 1px;
    color: #9aabb1;
    text-transform: uppercase;
    border: 1px solid #dbdfe1;
    padding: 15px;
    border-bottom: 0;
  }
  #table-of-contents + ol
  {
    margin: 0;
    margin-bottom: 30px;
    border: 1px solid #dbdfe1;
    padding: 15px;
    padding-left: 30px;
    li
    {
      color: #505153;
      padding: 5px 0;
      a
      {
        color: #505153;
        &:hover
        {
          text-decoration: none;
          color: #00BCD4;
        }
      }
    }
  }
  blockquote
  {
    color: #888;
    margin: 20px 0;
    padding: 5px 10px;
    border-left: 3px solid #dbdfe1;
    p
    {
      color: #888;
      margin: 0;
      font-size: 1em;
      line-height: 1.5em;
    }
  }
  b, strong
  {
    font-weight: 600;
  }
  em
  {
    color: #555;
  }
  .video
  {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    margin: 30px 0;
    iframe, embed, object
    {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .Release__Content
  {
    background-color: #fcfcfc;
    border-left: 3px solid #dbdfe1;
    padding: 20px;
    h1, h2
    {
      color: #000;
      margin-top: 0;
      font-size: 2em;
      margin-bottom: 20px;
      padding: 0;
      border: none;
    }
  }
  .Alert
  {
    font-weight: 300;
    color: #fff;
    background-color: #9aabb1;
    padding: 12px 15px;
    line-height: 1.5em;
    margin-bottom: 20px;
    letter-spacing: 0.6px;
    text-align: justify;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    &--green
    {
      background-color: #2ecc71;
    }
    &--blue
    {
      background-color: #3498db;
    }
    &--purple
    {
      background-color: #9b59b6;
    }
    &--teal
    {
      background-color: #1abc9c;
    }
    &--red
    {
      background-color: #e74c3c;
    }
    &--orange
    {
      background-color: #e67e22;
    }
    &--light
    {
      color: darken(#9aabb1, 7%);
      border: 1px solid #9aabb1;
      background-color: #fff;
    }
  }
}
