.icon, .icon i
{
  box-sizing: content-box;
  position: absolute;
  &:before, &:after
  {
    box-sizing: content-box;
    content: '';
    position: absolute;
  }
}
.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after
{
  transition: all 0.4s ease;
}

@import "icons/menu";
@import "icons/close";
@import "icons/search";
@import "icons/remove";
@import "icons/indent";
@import "icons/outdent";
@import "icons/heart";
@import "icons/smile";
