.icon, .icon i
{
  position: absolute;
  &:before, &:after
  {
    content: '';
    position: absolute;
    left: 0;
  }
}
.icon, .icon:before, .icon:after, .icon i, .icon i:before, .icon i:after
{
  transition: all 0.4s ease;
}

@import "icons/menu";
@import "icons/close";
@import "icons/search";
@import "icons/remove";
