<<<<<<< HEAD
html
{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.container
{
  width: 85%;
  max-width: 1080px;
  margin: 0 auto;
  @media (min-width: 576px)
  {
    width: 80%;
  }
  // padding: 0 15px;
}
*, *::before, *::after
{
  box-sizing: border-box;
}
=======
@import "base/main";
@import "theme/main";
<<<<<<< HEAD
// @import "grid";
@import "icons";
// @import "buttons";
// @import "content";
>>>>>>> 925b7850 (navbar)
=======
@import "icons/main";
>>>>>>> 2eed1dad (affix)
