// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: $font-weight-semibold;
  color: $color-text-primary;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $font-weight-regular;
  margin-bottom: $h2-font-size;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $font-weight-regular;
  margin-bottom: $h3-font-size;
}

h3 {
  font-size: $h3-font-size;
  margin-bottom: $h4-font-size;
}

h4 {
  font-size: $h4-font-size;
  margin-bottom: $h5-font-size;
}

h5 {
  font-size: $h5-font-size;
  margin-bottom: $h6-font-size;
}

h6 {
  font-size: $h6-font-size;
  margin-bottom: $font-size-xs;
}

