html {
  // line-height: $line-height-base;
  font-family: sans-serif;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba($black-900, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-align: left;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $black-900;
  background-color: $white;
}
