.algolia-autocomplete
{
  display: block !important;
  height: inherit;
  .ds-dropdown-menu
  {
    margin: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: normal;
    border-radius: 0;
    box-shadow: none;
    border-color: #dbdfe1;
    .ds-dataset-0
    {
      border-radius: 0;
    }
  }
  .algolia-docsearch-suggestion--category-header
  {
    span
    {
      color: #35495e;
    }
  }
  .algolia-docsearch-suggestion--wrapper
  {
    padding-top: 0;
    .algolia-docsearch-suggestion--subcategory-column
    {
      height: 100%;
      color: #35495e;
      padding: 10px 15px;
    }
    .algolia-docsearch-suggestion--content
    {
      padding: 10px 15px;
      .algolia-docsearch-suggestion--title
      {
        // font-weight: 400;
        color: #35495e;
        .algolia-docsearch-suggestion--highlight
        {
          color: #41B883;
          background-color: transparent;
        }
      }
    }
  }
}
