.button
{
  position: relative;
  display: inline-block;
  color: #4e5156 !important;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 42px;
  padding-top: 13px;
  min-width: 150px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  border-radius: 4px;
  letter-spacing: 1px;
  border: 1px solid #75818b;
  &:hover
  {
    color: #000;
    text-decoration: none !important;
    border: 1px solid #35495e;
  }
  span
  {
    width: 30px;
    height: 16px;
    display: inline-block;
    .icon, .icon:before, .icon:after
    {
      color: #4e5156;
    }
  }
  &--green
  {
    color: #fff !important;
    border-color: #3b8070;
    background-color: #3b8070;
    &:hover
    {
      color: #fff;
      border-color: darken(#3b8070, 5%);
      background-color: darken(#3b8070, 5%);
    }
  }
  &--grey
  {
    color: #fff !important;
    border-color: #35495e;
    background-color: #35495e;
    &:hover
    {
      color: #fff;
      border-color: darken(#35495e, 5%);
      background-color: darken(#35495e, 5%);
    }
  }
}
