.container
{
  height: inherit;
  padding: 0 15px;
  @media (min-width: 992px)
  {
    padding: 0 30px;
  }
  &:after
  {
    content: "";
    display: table;
    clear: both;
  }
}
.category
{
  &__content
  {
    position: relative;
    z-index: 10;
    padding: 25px;
    margin-top: 60px;
    height: 100%;
    overflow: auto;
    @media (min-width: 992px)
    {
      padding: 30px 45px;
      margin-top: 80px;
      margin-left: 300px;
    }
    &--hidden
    {
      display: none;
      @media (min-width: 992px)
      {
        display: block;
      }
    }
  }
  &__footer
  {
    display: block;
    @media (min-width: 992px)
    {
      display: none;
    }
  }
}
