.Promote {
  color: #42b883;
  background-color: #EFF2F7;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: center;
  transition: all 0.5s;
  img {
    width: 100%;
  }
  &__Content {
    width: 100%;
    padding-top: 20px;
    &__Title {
      margin: 0;
      color: #1F2D3D !important;
      transition: color 0.5s;
    }
    &__Description {
      color: #475669 !important;
      margin: 15px 0 !important;
      font-size: 16px !important;
      line-height: 20px !important;
      transition: color 0.5s;
    }
    &__Signature {
      color: #7F8C90 !important;
      margin: 0 !important;
      font-size: 13px !important;
      line-height: 18px !important;
      transition: color 0.5s;
    }
  }
  &:hover {
    transition: all 0.5s;
    background-color: #42b883;
    text-decoration: none !important;
    .Promote__Content__Title {
      transition: color 0.5s;
      color: #fff !important;
    }
    .Promote__Content__Description {
      transition: color 0.5s;
      color: #EFF2F7 !important;
    }
    .Promote__Content__Signature {
      transition: color 0.5s;
      color: #E5E9F2 !important;
    }
  }
  @media (min-width: 600px) {
    flex-direction: row;
    img {
      max-width: 240px;
    }
    .Promote__Content {
      padding-left: 20px;
      padding-top: 0;
    }
  }
}
