[data-theme='light'] {
  background-color: theme('colors.light.surface');
  color: theme('colors.light.onSurfacePrimary');
}

[data-theme='dark'] {
  background-color: theme('colors.dark.surface');
  color: theme('colors.dark.onSurfacePrimary');
}

body {
  @apply font-sans font-medium;
}
