/* purgecss start ignore */
body {
  & article {
    & h2, & h3, & h4, & h5, & h6 {
      & a.anchor {
        @apply float-left;
        margin-left: -1.5rem;
        & svg {
          vertical-align: middle;
          visibility: hidden;
        }
      }
      &:hover {
        & a.anchor svg {
          visibility: visible;
        }
      }
    }
    & h1 {
      @apply text-nuxt-gray relative text-3xl table mb-8;
      &::after {
        content: " ";
        width: 80%;
        @apply block border-2 border-nuxt-lightgreen mt-2 mb-1 rounded;
      }
    }
    & h2 {
      @apply text-nuxt-gray relative text-2xl table my-8;
      &::after {
        content: " ";
        width: 80%;
        @apply block border-2 border-nuxt-green mt-2 mb-1 rounded;
      }
      & code {
        @apply text-xl;
      }
      & a.anchor {
        @apply pt-3;
      }
    }
    & h3 {
      @apply text-nuxt-gray relative text-xl table my-8;
      &::after {
        content: " ";
        width: 80%;
        @apply block border-2 border-gray-600 mt-2 mb-1 rounded;
      }
      & code {
        @apply text-lg;
      }
      & a.anchor {
        @apply pt-2;
      }
    }
  }
}
/* purgecss end ignore */
