/* purgecss start ignore */
body {
  & article {
    & h2, & h3, & h4, & h5, & h6 {
      & a.anchor {
        @apply float-left;
        margin-left: -1.5rem;
        & svg {
          vertical-align: middle;
          visibility: hidden;
        }
      }
      &:hover {
        & a.anchor svg {
          visibility: visible;
        }
      }
    }
    & h1 {
      @apply text-nuxt-gray relative text-3xl inline-block mb-8;
      &::before {
        content: " ";
        width: 80%;
        height: 4px;
        top: 3.25rem;
        left: 0;
        @apply rounded absolute bg-nuxt-lightgreen;
      }
    }
    & h2 {
      @apply text-nuxt-gray relative text-2xl inline-block my-8;
      &::before {
        content: " ";
        width: 80%;
        height: 4px;
        top: 3rem;
        left: 0;
        @apply rounded absolute bg-nuxt-green;
      }
      & code {
        @apply text-xl;
      }
      & a.anchor {
        @apply pt-3;
      }
    }
    & h3 {
      @apply text-nuxt-gray relative text-xl inline-block my-8;
      &::before {
        content: " ";
        width: 80%;
        height: 4px;
        top: 2.5rem;
        left: 0;
        @apply rounded absolute bg-gray-600;
      }
      & code {
        @apply text-lg;
      }
      & a.anchor {
        @apply pt-2;
      }
    }
  }
}
/* purgecss end ignore */
