// COLORS
$color_primary: #42b883;
$color_secondary: #3C8171;
$color_reverse: #35495e;

$color_nuxt_black: #2c3e50;
$color_nuxt_grey: #7F8C90;
$color_nuxt_silver: #DAE1E9;
$color_nuxt_white: #F5F7FA;

$color_black: #1F2D3D;
$color_light_black: #324057;
$color_extra_light_black:#475669;
$color_silver:#8492A6;
$color_light_silver:#99A9BF;
$color_extra_light_silver:#C0CCDA;
$color_gray:#D3DCE6;
$color_light_gray:#E5E9F2;
$color_extra_light_gray:#EFF2F7;
$color_dark_white:#F9FAFC;
$color_white:#FFFFFF;
